<nz-layout class="layout">

  <nz-layout>
    <nz-sider [nzWidth]="200">
      <div class="logo">
      </div>
      <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" style="height:100%">
        <li nz-submenu>
          <span title><i nz-icon type="user"></i>ng-zorro</span>
          <ul>
            <li nz-menu-item (click)="onClickFun('nz-button')">按钮</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="laptop"></i>总结</span>
          <ul>
            <li nz-menu-item  (click)="onClickFun('pointer-events')">html禁用鼠标事件</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="notification"></i>惰性加载</span>
          <ul>
            <li nz-menu-item (click)="onClickFun('preload-test/test1')">Test1</li>
            <li nz-menu-item (click)="onClickFun('preload-test/test2')">Test2</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding-left:30px;">
        angular-demo
      </nz-header>
      <!-- <nz-breadcrumb style="margin:16px 0;">
              <nz-breadcrumb-item>Home</nz-breadcrumb-item>
              <nz-breadcrumb-item>List</nz-breadcrumb-item>
              <nz-breadcrumb-item>App</nz-breadcrumb-item>
            </nz-breadcrumb> -->
      <nz-content style="margin:16px;background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
